body {
  font-family: Arial, sans-serif;
  background-color: rgb(255,255,250);
  margin: 0;
  padding: 0;
}

nav {
  background-color: #1f50aa;
  padding: 15px 0;
}
.nav-icons a {
  color: #003366;
  font-size: 20px;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.nav-icons a:hover {
  color: #f6fbfc;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.logo-text {
  color: #fcfbf7;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

nav a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #927916;
}

header {
  background-color: #003366;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #f7f6f3;
  margin: 0;
  font-size: 48px;
}

header p {
  color: #ccc;
  font-size: 18px;
}

.content {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

.logo {
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
  margin: 30px 0;
}

/* Section Styling */
section {
  margin-bottom: 50px;
}

h2 {
  color: #032b35;
  margin-bottom: 20px;
}

p {
  line-height: 1.7;
  color: #070505;
}

/* Game Cards */
.game-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #197cd8;
  border-radius: 10px;
  box-shadow: 0 0 10px #e6e2e2;
  padding: 15px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h3 {
  color: #f1eeee;
  margin-bottom: 10px;
}

/* Button Styling */
.btn {
  display: inline-block;
  background-color: #5a6bc7;
  color: #f5f2f2;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #285d6d;
}

/* Footer */
footer {
  background-color: #1f1f2e;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

footer p {
  color: #cfcaca;
  margin: 0;
}

